<h1>RabbitMQ Queue Stats: ${queueName}</h1>

<h2>Producer</h2>
<p id="producerSuccess">
    <span>Successful: <strong>${producerSuccess}</strong></span>
</p>
<script type="text/javascript" charset="utf-8">
    setInterval(function() {
        $('section').load('@{queueProducerSuccess(queueName)} #producerSuccess')
    }, 1000)
</script>

<p id="producerFailed">
    <span>Failures: <strong>${producerFailed}</strong></span>
</p>
<script type="text/javascript" charset="utf-8">
    setInterval(function() {
        $('section').load('@{queueProducerFailed(queueName)} #producerFailed')
    }, 1000)
</script>         

<h2>Consumer</h2>
<p id="consumerSuccess">
    <span>Successful: <strong>${consumerSuccess}</strong></span>
</p>
<script type="text/javascript" charset="utf-8">
    setInterval(function() {
        $('section').load('@{queueConsumerSuccess(queueName)} #consumerSuccess')
    }, 1000)
</script>

<p id="consumerFailed">
    <span>Failures: <strong>${consumerFailed}</strong></span>
</p>
<script type="text/javascript" charset="utf-8">
    setInterval(function() {
        $('section').load('@{queueConsumerFailed(queueName)} #consumerFailed')
    }, 1000)
</script>                                  